

.clientlist {
    
    h1, h2, h3, h4{
        padding: 0 10px;
    }
    
    ul {
        height: 520px;
    overflow: auto;
        min-height: 100px;
        padding: 10px;
        // margin: 10px;
    }
    li {
        list-style: none;
        padding: 2px 10px 5px 10px;
        border-top: 0.2px solid #ddd;
        background-color: #fff;
        .subtitle {
            color: #666;
            font-size: small;
            &.riding {
                color: darkorange;
            }
            &.exploring {
                color: orangered;
            }
            &.arrived {
                color: blue;
            }
            &.ticketed {
                color: green;
            }
        }
        .name {
            font-size: small;
            font-weight: bold;
            em {
                color: #aaa;
            }
        }
    }
}
